---
services:
  gitlab:
    image: gitlab/gitlab-ce:${GITLAB_IMAGE:-latest}
    container_name: ${GITLAB_NAME}
    env_file:
      - .env
    hostname: ${GITLAB_HOSTNAME}
    ports:
      - ${GITLAB_PORT}:80
      - ${GITLAB_PORT_SSL}:443
      - ${GITLAB_PORT_SSH}:22
    volumes:
      - ${GITLAB_VOLUME}/config:/etc/gitlab
      - ${GITLAB_VOLUME}/logs:/var/log/gitlab
      - ${GITLAB_VOLUME}/data:/var/opt/gitlab
    shm_size: "256m"
    networks:
      - gitlab-network

  gitlab-runner:
    image: gitlab/gitlab-runner:${GITRUN_IMAGE:-latest}
    container_name: ${GITRUN_NAME}
    env_file:
      - .env
    depends_on:
      - gitlab
    volumes:
      - ${GITRUN_VOLUME}/config:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - gitlab-network

networks                                                                                                                                                 :
    name: gitlab-network
    driver: bridge
